<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		
		<link href="bootstrap.css" rel="stylesheet">
		<link href="custom.css" rel="stylesheet">
		<link href="style.default.css" rel="stylesheet">
		<link href="style.css" rel="stylesheet">
		<script src="http://localhost:3030/socket.io/socket.io.js"></script>
		<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue"></script>
		 <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"> </script>
		<script src="client.js"></script>
	</head>
	<body>
		<div id="App">
			<template v-if="!current_user.isSignIn">
			<div class="page login-page">
      			<div class="container">
        			<div class="form-outer text-center d-flex align-items-center">
          				<div class="form-inner">
            				<div class="logo text-uppercase"><span>SIGN</span><strong class="text-primary">IN</strong></div>
            				<form>
              					<div class="form-group">
                					
                					<input id="login-username" type="text" name="loginUsername" v-model="current_user.name" required="">
              					</div>
             					<button class="btn btn-primary" type="script" v-on:click.prevent="login">GO</button>
            				</form>
          				</div>
        			</div>
      			</div>
    		</div>
		</template>

		<template v-if='current_user.isSignIn'>
		


<!-- Updates Section -->
      <section class="updates section-padding">
        <div class="container-fluid">
          <div class="row">

            <!-- Daily Feed-->
            <div class="col-lg-4 col-md-6">
              <div id="daily-feeds" class="wrapper daily-feeds">
                <div id="feeds-header" class="card-header d-flex justify-content-between align-items-center">
                  <h2 class="h5 display"><a data-toggle="collapse" data-parent="#daily-feeds" href="#feeds-box" aria-expanded="true" aria-controls="feeds-box">Your chat room </a></h2>
                  <div class="right-column">
                    <div class="badge badge-primary">{{messagesCount}} messages</div><a data-toggle="collapse" data-parent="#daily-feeds" href="#feeds-box" aria-expanded="true" aria-controls="feeds-box"><i class="fa fa-angle-down"></i></a>
                  </div>
                </div>
                <div id="feeds-box" role="tabpanel" class="collapse show">
                  <div class="feed-box">
                    <ul class="feed-elements list-unstyled">
                      <!-- List-->
                      <li v-for='message in messages' class="clearfix">
                        <div class="feed d-flex justify-content-between">
                          <div class="feed-body d-flex justify-content-between">
                            <div class="content"><strong>{{message.author}}</strong>
                              <div class="full-date"><small>{{message.text}}</small></div>
                            </div>
                          </div>
                          <div class="date"><small>{{message.date}}</small></div>
                        </div>
                      </li>
                    </ul>

                    <div id="chat_text" class="feed d-flex justify-content-between">
                    	<hr>
                          <div class="feed-body d-flex justify-content-between"><a href="#" class="feed-profile"></a>
                            <div class="content">
                            	<input type="" v-model="input_message.text" name=""><button v-on:click="sendMessage">Send</button>
                            </div>
                          </div>
                        </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Recent Activities                            -->
            
          </div>
        </div>
      </section>






		</template>
		</div>
		
		
    	<script src="bootstrap.js"></script>
	</body>
</html>