body {
	background-color: lightgray;
}

#daily-feeds{
	position: relative;
	min-height: 500px;
}

#chat_text{
	position: absolute;
	bottom: 0px;
	border-top: 1px solid gray;
	width:100%;
	padding: 10px;
}